/*Importation police de caractères*/

@font-face {
	font-family: 'partybusiness';
	src: url('partybusiness.ttf');
}

@font-face {
	font-family: 'anironRegular';
	src: url('anirm.ttf');
}

@font-face {
	font-family: 'anironBold';
	src: url('anirb.ttf');
}

@font-face{
    font-family: 'tngani';
	src: url('tngani.ttf');
}

/*body*/
h1,h2,h3,h4,h5,li {
    font-family:"anironRegular";
}

p{
    font-family: 'partybusiness';
}

/*container*/
.container{
 padding-left: 5%;
 padding-right: 5%;
}

/*navbar*/

.navbar{
    background-color: #ff670f;
    padding: 5px 0px 10px 0px;
    margin-bottom: 0px;
}

.navbar-brand{
    margin-right: 30px;
}

.navbar-nav li a{
    color:white !important;
    padding-right: 20px !important;
    padding-left: 20px !important;
    border-right: white solid 1px;
}

.navbar-nav li:last-of-type a{
    border-right: none;
}

.navbar-nav li a:hover{
    color: white;
    border-bottom: white solid 2px;
}

/*Carousel*/

#myCarousel .img-responsive{
    max-height: 500px;
    width: 100%;
}

.carousel-caption{
    top:20%;
}

#myCarousel h3{
    font-size: 5.5vw;
    font-family: 'partybusiness';
}

#myCarousel p{
    font-size: 3.5vw; 
}

/*SECTIONS*/

/*Section fellow*/

#fellows{
    background-image: url(http://res.cloudinary.com/dx0ubgpga/image/upload/v1520258776/integrationFinale/bg_light.png);
    margin-top: -20px;
}

#fellows h2{
    padding: 5%;
    text-align: center;
    color:black;
    font-size: 20px;
}

.fellows_sign{
    color: #ff670f;
    font-family: 'tngani';
}

#fellows > ul > li{
    font-size: 1.3vw;
}

/*pills*/
.nav-justified{
    padding:0% 15% 5% 15% ;
}

.nav-pills li a{
    color:gray;
    background-image: url(http://res.cloudinary.com/dx0ubgpga/image/upload/v1520258776/integrationFinale/bg_light.png);
}

.nav-pills .active a{
    color: #ff670f !important;
    border-bottom: #ff670f solid 4px;
}

.fellows_wanted{
    margin-right: 3%;
    margin-left: 3%;
}

/*Thumbnails*/

.thumbnail{
    background-color: black !important;
}

.caption{
    color:gray;
    font-size: 30px;
}

/*Image*/
.thumbnail img{
    opacity: 0.4;
}

/*Nom de l'aventurier*/
.fellow_name{
    position:absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    font-size: 48px;
    color: white;
    font-family: 'partybusiness';
}

.fellow_name_died{
    position:absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    font-size: 48px;
    color: white;
    font-family: 'partybusiness';
    text-decoration: line-through #ff670f;
}

/*Recompense*/
.fellow_reward{
  position:absolute;
  right: 14%;
  top: 5%;
  width: 70%;
  height: 18%;
  border-style: none;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.7);
  font-family: 'partybusiness';
  color:black;
  font-size: 32px;
  text-align: center;
}

.fellow_died{
    position:absolute;
    right: 14%;
    top: 5%;
    width: 70%;
    height: 16%;
    border-style: none;
    border-radius: 10px;
    font-family: 'partybusiness';
    color:black;
    font-size: 40px;
    text-align: center;  
}


/*Montant de la récompense*/
.price_reward{
    color:#ff6600;
}

/*Au survol de la souris*/

.thumbnail:hover img{
    opacity: 1;
}

.thumbnail:hover .fellow_name{
    position:absolute;
    top: 55%;
    width: 100%;
    text-align: center;
    font-size: 28px;
    color: white;
    font-family: 'partybusiness';
}

.thumbnail:hover .fellow_name_died{
    position:absolute;
    top: 55%;
    width: 100%;
    text-align: center;
    font-size: 28px;
    color: white;
    font-family: 'partybusiness';
}

.thumbnail:hover .fellow_reward{
    visibility: hidden;
}

.thumbnail:hover .fellow_died{
    visibility: hidden;
}

/*Section reward*/

#reward{
    background-image: url(http://res.cloudinary.com/dx0ubgpga/image/upload/v1520258776/integrationFinale/bg_dark.png);
    color: white;
    margin-top: -2%;
}

#reward h2{
    text-align: center;
}

#reward img{
    float:right;
}

#reward p{
    font-size:24px; 
}

#reward .link_contact{
    text-align: center;

}

.link_contact{
    padding-bottom: 2%;
}

.link_contact a{
    color:#ff6600;
    background-color: white;
    font-family: 'anironRegular';
}

/*Section hunters*/

#best_hunters{
    background-image: url(http://res.cloudinary.com/dx0ubgpga/image/upload/v1520258776/integrationFinale/bg_light.png);
    margin-top: -2%;
}

.hunters_name{
    color:#ff6600;
}

#best_hunters > h2{
    padding:2% 0% 2% 4%;
}

.hunters_description{
    font-family: 'partybusiness';
    font-size: 4vw;
}

/*Section the ring*/

#about_ring{
    background-image: url(http://res.cloudinary.com/dx0ubgpga/image/upload/v1520258776/integrationFinale/bg_dark.png);
    color: white;
    margin-top: -2.5%;
    padding-bottom: 5%;
}

#about_ring > h2{
    padding:2% 0% 2% 4%;
}

#about_ring h3{
    background-color:#ff6600;
    padding-left: 2%;
}

.ring_capabilities{
    background-image: url(http://res.cloudinary.com/dx0ubgpga/image/upload/v1520258776/integrationFinale/bg_light.png);
    margin:3% 5% 0% 5%;
}

.ring_capabilities > p, table{
    margin-left: 5%;
}

.ring_capabilities > p{
    color: black;
    font-family: 'partybusiness';
    font-size: 2.5vw;
}

.ring_capabilities th{
    color: black;
    font-family: 'anironRegular';
    font-size: 2vw;
}

.ring_capabilities td{
    color: gray;
    font-family: 'anironRegular';
    font-size: 1.7vw;
    border-bottom: gray solid 1px;
}

.ring_capabilities table{
    border-collapse: collapse;
}

.ring_capabilities th{
    border-bottom: gray solid 2px;
}


.ring_awesome{
    background-image: url(http://res.cloudinary.com/dx0ubgpga/image/upload/v1520258776/integrationFinale/bg_light.png);
    margin:0% 5% 0% 5%;
}

.ring_awesome q{
    color: black;
    font-family: 'partybusiness';
    font-size: 2.5vw;
}

.ring_awesome p{
    color: grey;
    font-family: 'partybusiness';
    font-size: 2.5vw;
}


/*Section army*/

#join_the_army{
    background-image: url(http://res.cloudinary.com/dx0ubgpga/image/upload/v1520258776/integrationFinale/bg_light.png);
    margin-top: -2%;
    padding-bottom: 5%;
}

#join_the_army > h2{
    color:black;
    padding:2% 0% 2% 4%;
    font-size: 2vw;
}


#join_the_army > p{
    color:black;
}

.link_sauron > p {
    font-family:"anironRegular";
    color:#ff6600;
}

.link_website{
    background-image: url(http://res.cloudinary.com/dx0ubgpga/image/upload/v1520258776/integrationFinale/bg_dark.png);
}

.link_sauron a{
    color:#ff6600;
    font-family:"anironRegular";
    font-size: 1.7vw;
}

.link_sauron > p{
    padding-top:4%;
}

#conteneur{
    display:flex;
    font-size: 1.7vw;
    margin: 0% 2% 0% 2%;
}


/*Section contact*/

#contact_us{
    background-image: url(http://res.cloudinary.com/dx0ubgpga/image/upload/v1520258776/integrationFinale/bg_dark.png);
    margin-top: -2%;
}

#contact_us > h2{
    color:white;
    padding:2% 0% 2% 4%;
}

#contact_us .formulaire{
    padding: 2% 0% 0% 3%;
}

.formulaire input, select{
    font-size: 3vw;
}

/*footer*/

footer{
    background-color: #ff6600;
    padding: 3% 0% 3% 0%;
}

footer ul li{
    list-style-type: none;
}

.liens1 > ul > li > a{
    color:white;
    font-size:1.5vw;
}

.liens2 > ul > li > a{
    color:white;
    font-size:1.5vw;
}

.liens3 > p> a{
    color:white;
    font-size:1.5vw;
    font-family:"anironRegular";
}